<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><strong>Welcome to myStonks.</strong></h2>

    <h4>Good day, <%= @user.username%>!</h4>
    
    <p> Before you can continue to your profile, our admins will first verify your application and approve your access.</p>
    
    <br>

    <p>You will receive an email regarding your account update within 24-48 hours. Your patience is much appreciated, doge!</p>
  </body>
</html>
