<div class="card">
    <div class="card-header">
        <h4>Balance details</h4>
    </div>

    <div class="card-body">
        <div>
            <label class="card-text">Account Balance</label>
            <h3 class="card-title">$<%= Balance.where(user_session).total_balance%></h3>

            <label class="card-text">Total Deposited</label>
            <h3 class="card-title">$<%= Balance.where(user_session).total_deposits%></h3>

             <label class="card-text">Total Withdrawn</label>
            <h3 class="card-title">$<%= Balance.where(user_session).total_withdrawals%></h3>
        </div>
    </div>

</div>