
<% if current_user %>
    <% if current_user.is_Admin? %>
        <%= render partial: "/admin/users/welcome"%>
    <% else %>
        <%= render partial: "/stocks/index" %>
    <% end %>
<% else %>

    <%= render partial: "/devise/registrations/new" %>


</div>
</div>


<% end %>
