<div class="card">
<div class="card-header">
    <h4>Sell Stocks</h4>
</div>

<div class="card-body">
    <%= render 'form', trade: @trade %>
    <br/>
    <%= link_to 'Back', trades_path, class: "btn btn-outline-secondary" %>
</div>

</div>